[submodule "vendor/Wordpress-for-Developers"]
	path = vendor/Wordpress-for-Developers
	url = git@github.com:lucaswxp/Wordpress-for-Developers.git
[submodule "vendor/meta-box"]
	path = vendor/meta-box
	url = git@github.com:rilwis/meta-box.git
